[submodule "pyodide-fork"]
	path = pyodide-fork
	url = https://github.com/oyin-bo/wasm-pyodide-fork
[submodule "wasmer-sh-fork"]
	path = wasmer-sh-fork
	url = https://github.com/oyin-bo/washm-wasmer-js-fork
[submodule "bash-fork"]
	path = bash-fork
	url = https://github.com/wasix-org/bash
